#div1, #div2, #div3, #div4, #div5 {
    float: left;
    width: 200px;
    height: 70px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
	text-align:center;
}

#douz {
    float: left;
    width: 70px fixed;
    height: 70px fixed;
    margin: 10px;
    padding: 10px;
	text-align: center;
}



.dual-list .list-group {
	margin-top: 8px;
}

.list-left li, .list-right li {
	cursor: pointer;
}

.list-arrows {
	padding-top: 100px;
}

.list-arrows button {
	margin-bottom: 20px;
}

body {
    margin:0;
    padding:0;
}

.btn-generate{
	position:relative;
    color:green;
    text-align:center;
    font-size:40px;
    font-weight:bold;
	padding: 10px;

}
.shadow {
    position:relative;
    color:green;
    text-align:center;
    line-height:250px;
    font-size:50px;
    font-weight:bold;
    background:linear-gradient(0deg,#000,#262626);
	
	float: left;
    width: 200px;
    height: 70px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
.shadow:before,
.shadow:after {
    content:'';
    position:absolute;
    top:-2px;
    left:-2px;
    background:linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff
    ,#00ff00,#ffff00,#ff0000);
    background-size:400%;
    width:calc(100% + 4px);
    height:calc(100% + 4px);
    z-index:-1;
    animation:animate 20s linear infinite;
}

.shadow:after {
    filter:blur(20px);
}

@keyframes animate {
    0% {
        background-position:0 0;
    }
    50% {
        background-position:300% 0;
    }
    100% {
        background-position:0 0;
    }
}



/* loader */
/* Center the loader */
#loader {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





/* form */
.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
	text-align:center;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
/* end form */